{% load staticfiles %}
{% load template_tags %}
<head>
	<link href='{% static "css/jquery.terminal.css" %}' rel="stylesheet"/>
	<link href='{% static "terminal/css/terminal.css" %}' rel="stylesheet"/>

	<script src='{% static "js/jquery-1.7.1.min.js" %}'></script>
	<script src='{% static "js/jquery.mousewheel-min.js" %}'></script>
	<script src='{% static "js/jquery.terminal-0.7.3.js" %}'></script>
	<script src='{% static "terminal/js/terminal.js" %}'></script>
	<script type="text/javascript">
		$(function() {
			var settings = {
				firstPost: {
					date: '{{ post.date }}',
					title: '{{ post.title }}',
					content: '{{ post.content|remove_newlines }}'
				},
				wordpress: '{{ wordpress }}'
			};
			loadTerminal($('.terminal'), settings);
		});
	</script>
	<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
	<title>whyjustin</title>
</head>
<body>
	<div class='terminal'></div>
</body>